.dark-gray {
  border-color: rgb(224, 224, 224);
}

.light-gray {
  border-color: rgb(235, 235, 235);
}

#halo {
  position: fixed;
  bottom: 2em;
  right: 2em;
  height: 5em;
  width: 5em;
  font-size: 10px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.5em;
}

.outer {
  animation: Breathe 0.8s infinite alternate;
}

@keyframes Breathe {
  from {
    width: 100%;
    height: 100%;
  }

  to {
    width: 90%;
    height: 90%;
  }
}

@keyframes FlipX {
  from {
    transform: rotateX(0);
  }

  to {
    transform: rotateX(180deg);
  }
}

@keyframes FlipY {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(180deg);
  }
}