body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
button {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  font-size: inherit;
  word-break: keep-all;
  color: inherit;
}

span {
  display: inline-block;
  word-break: keep-all;
  font-size: inherit;
}