#halo {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(12px + 0.3vw);
}

#halo input,
#halo button {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  font-size: inherit;
  word-break: keep-all;
  color: inherit;
}

#halo span {
  display: inline-block;
  word-break: keep-all;
  font-size: inherit;
}